body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;

    line-height: 1.6em;
    margin: 0;

    background-color: #f5f5f5;
    color: #000000;
    text-align: center;
}

.container
{
    padding: 20px;
    margin-top: 5dvi;
    border-width: 3px;
    border-bottom-width: 10px;

    /*flexbox attempt*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subcontainer
{
    margin-top: 0;
}

.button
{
    width: 20%;
    align-self: center;
    margin-top: 1%;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 2rem;
}

.button:hover
{
    background: #007fff;
    color: #ffffff;
}

.media
{
    width:30%;
    height:30%;
    margin: auto;
    /*flexbox attempt*/
    display: flex;
    
    justify-content:center;

}