{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Importing the Font (Montserrat)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <title>AIDentifye</title>
</head>

<body>
    <div class="wrapper" id="the_upload">
        <header>
            <h1>AIDENTIFYE</h1>
            <nav>
                <ul>
                    <li><a href="/edr">HOME</a></li>
                    <li class="current_page"><a href="/edr/assess">ASSESS</a></li>
                    <li><a href="#">LIBRARY</a></li>
                    <li><a href="/edr/faq">FAQ</a></li>
                    <li><img src="{% static 'DarkMode.png' %}" alt="LightMode" id="theme"></li>
                </ul>
            </nav>
            <img src="{% static 'NavIcon.png' %}" alt="NavIcon" class="main_nav_icon">
        </header>

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'assess' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <p>
                {{ form.imgfile }}
            </p>

            <p><input type="submit" value="Upload" id="upload_btn" style="display: none;" /></p>
        </form>

        <script>
            document.getElementById('id_imgfile').style.display = 'none';
        </script>

        <div class="media">
            <!-- <input type="file" accept="image/*" name="image" id="fileInput" onchange="loadFile(event)"
                style="display: none;"> -->
            <video id="video" width="640" height="480" autoplay style="display: none;"></video>
            <canvas class="media" id="canvas" width="640" height="480" style="display: none;"></canvas>
        </div>

        <div class="content" id="upload">
            <div class="row">
                <div class="text">
                    <h1>UPLOAD IMAGE</h1>
                    <button class="buttonBlue" type="button" id="start"> Camera </button>
                    <button class="button" type="button" id="snap" style="display: none;"><img src="data/camera.png"
                            alt="Camera"></button>
                    <script>
                        // const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
                        // if (isMobile) {
                        //     document.getElementById('start').style.display = 'none';
                        // }
                        document.getElementById('start').style.display = 'none';
                    </script>
                    <button class="buttonBlue" type="button" id="gallery"
                        onclick="document.getElementById('id_imgfile').click()"> <img style="vertical-align: middle;"
                            src="{% static 'camera.png' %}" alt="" width="30" height="30"> <span
                            style="vertical-align: middle;"> Upload </span> </button>
                    <!-- <button class="button" id="main_btn" type="button" onclick="location.href='/edr'">Main</button> -->
                </div>
                <div class="image">
                    <img src="{% static 'DarkUpload.jpg' %}" alt="UploadImage" id="upload-image">
                </div>
            </div>
            <div class="disclaimer">
                <p><span>DISCLAIMER:</span><br>

                    The accuracy of the results generated by AIDentifye may vary based on the quality of the image
                    captured or uploaded. High-quality images with clear details contribute to more reliable
                    outcomes. Users are advised to ensure optimal imaging conditions for accurate assessments and
                    consult with healthcare professionals for definitive diagnoses.<br><br>
                    AIDentifye is not a substitute for professional medical advice, diagnosis, or treatment.
                </p>
            </div>
        </div>

        <!-- <div class="container">
            <h3 class="subcontainer" id="assess_lbl">Assess</h3>
            <button class="buttonBlue" type="button" id="start"> Camera </button>
            <button class="button" type="button" id="snap" style="display: none;"><img src="data/camera.png"
                    alt="Camera"></button>
            <script>
                // const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
                // if (isMobile) {
                //     document.getElementById('start').style.display = 'none';
                // }
                document.getElementById('start').style.display = 'none';
            </script>
            <button class="buttonBlue" type="button" id="gallery"
                onclick="document.getElementById('id_imgfile').click()"> <img style="vertical-align: middle;"
                    src="{% static 'camera.png' %}" alt="" width="30" height="30"> <span
                    style="vertical-align: middle;"> Upload </span> </button>
            <button class="button" id="main_btn" type="button" onclick="location.href='/edr'">Main</button>
        </div> -->
    </div>
    <script>
        console.log("Begin initializing static files...")
        var lightmodeurl = "{% static 'LightMode.png' %}";
        console.log(lightmodeurl)
        var lightassessurl = "{% static 'LightAssess.jpg' %}"
        var lightlibraryurl = "{% static 'LightLibrary.jpg' %}"
        var navicon2url = "{% static 'NavIcon2.png' %}"
        var lightuploadurl = "{% static 'LightUpload.jpg' %}"
        console.log("Loaded light mode static files.")

        var darkmodeurl = "{% static 'DarkMode.png' %}"
        var darkassessurl = "{% static 'DarkAssess.jpg' %}"
        var darklibraryurl = "{% static 'DarkLibrary.jpg' %}"
        var naviconurl = "{% static 'NavIcon.png' %}"
        var darkuploadurl = "{% static 'DarkUpload.jpg' %}"
        console.log("Loaded dark mode static files.")
        var DEBUG = false;
    </script>
    <script src="{% static 'script.js' %}"></script>

</body>

</html>