{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AISight - Assess</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url "assess" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p>
            {{ form.imgfile }}
        </p>

        <p><input type="submit" value="Upload" /></p>
    </form>

    <div class="media">
        <input type="file" accept="image/*" name="image" id="fileInput" onchange="loadFile(event)"
            style="display: none;">
        <video id="video" width="640" height="480" autoplay style="display: none;"></video>
    </div>

    <div class="container">
        <h3 class="subcontainer" id="assess_lbl">Assess</h3>
        <button class="button" type="button" id="start"> <img src="data/camera.png" alt="Camera"> </button>
        <button class="button" type="button" id="snap" style="display: none;"><img src="data/camera.png"
                alt="Camera"></button>
        <button class="button" type="button" id="gallery" onclick="document.getElementById('fileInput').click()"><img
                src="data/gallery.png" alt="Gallery"> Upload</button>

        <!-- insert image -->
        <canvas class="media" id="canvas" width="640" height="480" style="display: none;"></canvas>
        <img id="galleryOutput" />
        <h3 id="result_lbl" style="display: none;">Assessment Result</h3>
        <button class="button" id="reassess_btn" type="button" style="display: none;">Re-Assess</button>
        <button class="button" id="main_btn" type="button" onclick="location.href='/edr'">Main</button>
    </div>

    <script src="{% static 'script.js' %}"></script>

</body>

</html>