{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AISight - Disclaimer</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>

    <div class="container">
        <h3>Disclaimer:</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, libero molestiae id est error voluptates saepe totam assumenda dolorem natus unde nihil molestias, culpa sunt, magnam omnis in ratione! Quis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dicta pariatur commodi! Voluptate doloribus quasi beatae quia! Eos dolore sunt excepturi natus porro quaerat praesentium ducimus corporis. Voluptate, fugit iusto. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum expedita eaque, eius repellat odit ea explicabo quidem, qui praesentium dolorem, fugit cumque magnam nemo ex iste magni odio. Pariatur, in? Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, dolorem in voluptate recusandae maiores distinctio magnam eum debitis error officia, consectetur non aperiam quam dolor alias sed culpa tenetur temporibus!</p>
    </div>

    <button class="button" id="main_btn" type="button" onclick="location.href='/edr'">Main</button>

    <script src="script.js"></script>

</body>

</html>