{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Importing the Font (Montserrat)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <title>AIDentifye</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>AIDENTIFYE</h1>
            <nav>
                <ul>
                    <li class="current_page"><a href="/edr">HOME</a></li>
                    <li><a href="/edr/assess">ASSESS</a></li>
                    <li><a href="/edr/library">LIBRARY</a></li>
                    <li><a href="/edr/faq">FAQ</a></li>
                    <li><img src="{% static 'DarkMode.png'%}" alt="LightMode" id="theme"></li>
                </ul>
            </nav>
            <img src="{% static 'NavIcon.png'%}" alt="NavIcon" class="main_nav_icon" id="mainNav">
        </header>

        <div class="content" id="assess">
            <div class="text">
                <h1>Prioritize Your <br>Eye Health</h1>
                <p>Assess your eye condition with your camera or gallery input.
                </p>
                <a href="/edr/assess">ASSESS NOW</a>
            </div>
            <div class="image">
                <img src="{% static 'DarkAssess.jpg'%}" alt="AssessImage" id="assess-image">
            </div>
        </div>

        <div class="content" id="library">
            <div class="text">
                <h1>AIDENTIFYE <br>Library</h1>
                <p>Learn more about the eye conditions with the library.
                </p>
                <a href="/edr/library">LEARN MORE</a>
            </div>
            <div class="image">
                <img src="{% static 'DarkLibrary.jpg'%}" alt="LibraryImage" id="library-image">
            </div>
        </div>
    </div>

    <script>
        console.log("Begin initializing static files...")
        var lightmodeurl = "{% static 'LightMode.png' %}";
        console.log(lightmodeurl)
        var lightassessurl = "{% static 'LightAssess.jpg' %}"
        var lightlibraryurl = "{% static 'LightLibrary.jpg' %}"
        var navicon2url = "{% static 'NavIcon2.png' %}"
        var lightuploadurl = "{% static 'LightUpload.jpg' %}"
        console.log("Loaded light mode static files.")

        var darkmodeurl = "{% static 'DarkMode.png' %}"
        var darkassessurl = "{% static 'DarkAssess.jpg' %}"
        var darklibraryurl = "{% static 'DarkLibrary.jpg' %}"
        var naviconurl = "{% static 'NavIcon.png' %}"
        var darkuploadurl = "{% static 'DarkUpload.jpg' %}"
        console.log("Loaded dark mode static files.")
        var DEBUG = false;
        var inLibrary = false;
    </script>
    <script src="{% static 'script.js'%}"></script>


</body>

</html>

<!-- <div>
    <button class="buttonBlue" type="button" onclick="location.href='/edr/assess'">Assess</button>
</div>
<button class="button" type="button" onclick="location.href='/edr/disclaimer'">Disclaimer</button>
<button class="button" type="button" onclick="location.href='/edr/list'">Diseases</button> -->
