{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AISight - Main</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="{% static 'logo.png' %}" alt="AISight Logo">
        </div>

        <div class="message">
            <h3>Welcome!</h3>
        </div>

        <div>
            <button class="buttonBlue" type="button" onclick="location.href='/edr/assess'">Assess</button>
        </div>
        <button class="button" type="button" onclick="location.href='/edr/disclaimer'">Disclaimer</button>
        <button class="button" type="button" onclick="location.href='/edr/list'">Diseases</button>
    </div>

</body>
</html>