:root {
    /*--Dark: #101010;*/
    /*--Light: white;*/

    --Primary: #101010;
    --Secondary: white;
    --Tertiary: #2d2d2d;
}

.light-theme {
    --Primary: white;
    --Secondary: #101010;
    --Tertiary: #dbdada;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Primary);
    overflow-y: hidden;

    font-family: "Montserrat", sans-serif;
    color: var(--Secondary);
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 70%;

    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;

    /*background-color: gray;*/
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 2%;
    padding-right: 2%;

    position: sticky;
    top: 0;

    /*background: coral;*/
}

header a{
    text-decoration: none;
    color: white;
}

header h1 {
    flex: 2;
    letter-spacing: 3px;
    color: var(--Secondary);
}

nav {
    display: flex;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 40px;
    font-family: "Montserrat Thin", sans-serif;
    font-size: 22px;
}

.current_page {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: var(--Secondary);
}

nav ul li img {
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
}

.main_nav_icon {
    display: none;
    height: 22px;
}

.content {
    display: flex;
    min-height: calc(100dvh - 80px);
    width: 100%;
    padding-top: 80px;

    scroll-snap-align: start;
    scroll-snap-stop: always
}

.content .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
    flex: 1;

    /*background-color: blue;*/
}

.content .text h1 {
    margin-top: -10%;
    font-size: 66px;
}

.content .text p {
    margin-top: -10px;

}

.content a {
    height: 25px;
    width: 40%;
    min-width: 265px;
    padding: 10px;
    margin-top: 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: #101010;

    text-decoration: none;
    text-align: center;
    font-size: 22px;
    color: white;
}

.content .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    height: 100%;
    padding-right: 2%;

    /*background-color: red;*/
}

.content .image img {
    max-width: 100%;
    height: auto;
}

.content a:hover {
    background-color: #20AD59;
    color: #101010;
    border-color: white;
}

.content .row {
    display: flex;
    flex-direction: row;
    flex: 5;
}

.content .disclaimer {
    display: flex;
    flex: 1;
    padding-left: 1%;
    padding-right: 1%;
    /*background-color: blue;*/
}

.content .disclaimer p {
    text-align: justify;
}

.row a {
    width: 80%;
    min-width: 150px;
}

span {
    font-size: 20px;
    font-weight: bolder;
    color: crimson;
}

#upload {
    padding: 0;
}

#result .text h1 {
    margin-top: 0;
}

#result .text h2 {
    margin-top: -1%;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 5px;
}

#result .text .confidence {
    font-size: 25px;
    margin-top: -5%;
}

#result .image {
    align-items: center;
    flex: 1;
    /*background-color: red;*/
}

#result .text{
    /*background-color: blue;*/
}

#result .image img {
    border-radius: 20px;
    max-width: 80%;
    min-width: 50%;
    height: auto;
}

/*Accordion Styles*/
#faq .row .text{
    display: flex;
    flex: 1;
    /*background-color: blue;*/
}
#faq .row .accordion{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    /*background-color: red;*/
}

#faq .answer a {
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    border: none;
    padding: 0%;
    text-decoration: underline;
}

.question {
    background-color: #101010;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    padding: 18px;
    width: 85%;
    text-align: left;
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--Secondary);
    border-radius: 10px;
}

.answer {
    background-color: #ffffff;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    padding: 18px;
    width: 85%;
    display: none;
    overflow: hidden;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--Secondary);
    border-radius: 0 0 10px 10px;
    border-top: none;
    transition: max-height 0.3s ease-out;
}

.question:hover/*, 
.answer:hover*/ {
    background-color: #20AD59;
    color: #101010;
    border-color: #20AD59;
}

.question.active {
    /*background-color: #20AD59;*/
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.question:after {
    content: '\2795';
    transition: all ease 0.6s 0.5s;
    font-size: 13px;
    color: #c513cb;
    float: right;
    margin-left: 5px;
}

.question .active:after {
    content: "\2796";
    color: #ffffff;
}

/*LIBRARY*/
.xbutton {
    display: none;
}

#library .right {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5% 2% 5% 0;
    flex: 1;
    /*color: var(--Secondary);*/
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    /*border-style: solid;
    border-color: var(--Tertiary);*/
}

#library .condition {
    font-size: large;
    padding: 2%;
    border-radius: 10px 0 0 10px;
    /*border-left-style: solid;*/
}

#library .condition.selected {
    color: var(--Secondary);
    background-color: var(--Tertiary);
}

#library .condition:hover {
    background-color: #20AD59;
    color: #000000;
    border-color: white;
}

/*LIBRARY + LEARN MORE*/
#library .info-h1, 
#learnmore .info-h1 {
    margin: 5% 3% 1%;
    font-size: xx-large;
    font-weight: bold;
}

#library .right .eye-info,
#learnmore .eye-info {
    height: 80%;
    background-color: var(--Tertiary);
    overflow-y: auto;
}

#library .info-h2, 
#learnmore .info-h2 {
    margin: 5% 3% 1%;
    font-size: large;
}

#library .info-p, 
#learnmore .info-p {
    text-align: justify;
    margin: 1% 5% 5% 10%;
}

#library .info-ul, 
#learnmore .info-ul {
    text-align: justify;
    margin: 1% 5% 5%;
}

/*LEARN MORE*/
#learnmore {
    display: none;
    position: relative;
    background-color: var(--Tertiary);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--Tertiary);
    margin: 5% 7% 0 3%;
    flex: 0 0 auto; 
    padding-left: calc(2% * -1);
    height: 400px;
    width: 40%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#learnmore .info-h1 {
    padding-top: 3%;
}

#learnmore .eye-info {
    height: 70%;
    margin-top: 3%;
}

#closeLearnmore {
    position: absolute;
    top: 0%;
    right: 0%;
    border-radius: 0 5px 0 0;
    font-size: xx-large;
    font-weight: bold;
    padding: 3% 4%;
    cursor: pointer;
    color: var(--Secondary);
}

#closeLearnmore:hover {
    color: white;
    background-color: crimson;
}



#assess {
    /*background-color: darkred;*/
    flex-direction: row;
}

#library {
    /*background-color: blue;*/
    flex-direction: row;
}

#upload {
    flex-direction: column;
    /*background-color: crimson;*/
}

#result {
    flex-direction: column;
    /*background-color: crimson;*/
}



@media screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }

    header {
        padding-right: 5%;
        padding-left: 5%;
        height: 50px;
        /*background-color: red;*/
    }

    /*FOR THE INDEX PAGE*/
    #assess, #library {
        flex-direction: column;
        padding-top: 50px;
        min-height: calc(100dvh - 50px);
    }

    .content .image {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: flex-end;
        align-items: center;
        /*background-color: blue;*/
    }

    .content .text {
        text-align: center;
        justify-content: flex-start;
        align-items: center;
    }

    .content .text h1 {
        margin-top: -10%;
        font-size: 40px;
    }

    .content .text p {
        font-size: 15px;
    }

    .image {
        order: -1;
        /* Place images before text on smaller screens */
        flex: 1;
    }

    .content .image img {
        max-width: 90%;
        height: auto;
    }

    /*FOR THE ASSESS PAGE*/

    #upload {
        padding-top: 50px;
        min-height: calc(100dvh - 50px);
    }

    .content .row {
        flex-direction: column;
        
        overflow-x: hidden;
    }

    .row .image {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: flex-end;
        align-items: center;
        /*background-color: blue;*/
        flex: 1;
    }

    .row .image {
        order: -1;
        flex: 1;
    }

    .content .row .image img {
        max-width: 100%;
        height: auto;
    }

    .row .text {
        justify-content: center;
        align-items: center;
        /*background-color: red;*/
        text-align: center;
        flex: 1;

    }
    
    #upload .text h1{
        margin-top: -20%;
    }

    .row .text a {
        width: 70%;
    }

    .disclaimer p {
        font-size: 12px;
    }

    /*FOR RESULT PAGE*/
    #result {
        min-height: calc(100dvh - 50px);
    }

    #the_result{
        scroll-snap-type: none;
    }

    #result .row .text {
        /*margin: 0;*/
        align-items: center;
        /*background-color: red;*/
        text-align: left;
    }

    .row .image {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: center;
        align-items: center;
        /*background-color: blue;*/
    }

    #result .row .image img {
        max-width: 70%;
        height: auto;

        max-height: 60%;
    }

    #result .row .text h2 {
        display: none;
        margin: 0;
        font-size: 20px;
    }
    
    #result .row .text h1{
        margin-top: -20%;
    }

    #result .row .text p {
        margin-bottom: -2px;
        font-size: 18px;
    }

    #result .row .text a{
        width: 60%;
        font-size: 20px;
    }

    #learnmore {
        width: 70%;
        height: 80%;
        margin: 10% 5% 0%;

    }

    #learnmore .eye-info {
        height: 80%;
        margin-top: 2%;
    }

    /*FOR THE LIBRARY PAGE*/
    .xbutton {
        display: block;
        position: absolute;
        top: 23%;
        right: 14%;
        flex: 1;
        border-radius: 0 5px 0 0;
        font-size: xx-large;
        font-weight: normal;
        padding: 1% 3%;
        cursor: pointer;
        /*background-color: var(--Tertiary);*/
    }

    .xbutton:hover {
        color: white;
        background-color: crimson;
    }

    #library .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #library .row .right {
        display: none;
        position: absolute;
        height: 60%;
        width: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px var(--Tertiary);
    }

    #library .condition {
        border-radius: 10px;
        display: flex;
        justify-content: center;
        width: 80%;
        padding: 3% 2%;
    }

    #library .eye-info {
        min-height: 90%;
    }

    #library .info-h1 {
        padding: 1% 3% 1%;
        margin: 0%;
    }

    
    /*FOR THE FAQ PAGE*/

    #faq{
        padding-top: 10px;
        scroll-snap-type: none;
    }

    .content .row{
        flex-direction: column;
        overflow-y: auto;
        align-items: center;
    }

    #faq .row .text{
        justify-content: center;
        width: 100%;
        /*background-color: blue;*/
        flex: 1;
    }

    #faq .row .text h1{
        margin-top: 0;
    }

    #faq .row .accordion {
        justify-content: start;
        flex: 1.9;
        width: 100%;
        overflow-y: unset;
        /*background-color: red;*/
    }
    
    .question{
        max-width: 70%;
        font-size: 12px;
    }

    .answer{
        max-width: 70%;
        font-size: 12px;
    }
    
    /*End*/ 
    
    nav ul {
        display: none;
        position: fixed;
        top: 50px;
        right: 0;
        height: calc(100dvh - 50px);
        width: 40%;
        background-color: var(--Primary);
        padding-top: 0;
        padding-right: 5%;
        margin: 0;
        z-index: 1000;
        text-align: right;
    }

    /* Additional styles for the active state and list items */
    nav ul.active {
        display: block;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
    }

    nav ul li a {
        color: var(--Secondary);
    }

    .main_nav_icon {
        display: block;
        /* Show the menu icon on smaller screens */
        height: 30px;
        cursor: pointer;
    }
    
    #result{
        padding-top: 0;
    }
    
    #result .image h6{
        align-items: flex-end;
        font-size: 10px;
        margin-bottom: -1%;
        margin-top: 10px;
    }

    span {
        font-size: 20px;
    }
}



@media screen and (max-width: 480px){

    .xbutton {
        /*top: 200px;
        right: 45px;*/
        top: 18.5%;
        right: 12%;
        font-weight: normal;
    }

    #library .text h1 {
        font-size: 35px;
        max-width: 90%;
    }

    #library .condition {
        max-width: 60%;
    }

    #library .row .right {
        height: 55%;
        top: 45%;
    }

    #library .info-h1, #learnmore .info-h1 {
        font-size: 20px;
    }

    #result #learnmore .eye-info{
        height: 85%;
    }

    #result #learnmore .info-h2{
        margin: 10% 3% 1%;
    }

    #result #learnmore .info-p{
        margin: 1% 5% 5% 10%;
    }

    #result #learnmore .info-p{
        margin: 1% 5% 5%;
    }

    #faq{
        padding-top: 50px;
        min-height: calc(100dvh - 50px);
    }
    
    #faq .row .text{
        justify-content: center;
        width: 100%;
        /*background-color: blue;*/
        flex: 1;
    }

    #faq .row .accordion {
        flex: 2.6;
        /*background-color: red;*/
        overflow-y: scroll;
    }
    
    #faq .row .text h1{
        font-size: 28px;
    }

    .question{
        max-width: 70%;
        font-size: 10px;
    }

    .answer{
        overflow: scroll;
        height: auto;
        max-width: 70%;
        font-size: 10px;
    }

    #faq .row .text p{
        font-size: 11px;
        max-width: 70%;
    }


    #result .row .text h1{
        margin-top: 0;
    }

    span {
        font-size: 15px;
    }

    .disclaimer p {
        font-size: 10px;
    }
    
    #result .row .text .p{
        margin-top: 5%;
    }
    
    #result .row .text a{
        font-size: 15px;
        height: auto;
    }

    #re-assess{
        margin-top: 10px;
    }

    #result .row .text p {
        margin-top: -10%;
        margin-bottom: -2px;
        font-size: 15px;
    }

    .row .text button {
        width: 90%;
    }

    .row .text button {
        width: 90%;
    }
    
}

.content button {
    /* height: 25px; */
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: white;
    background-color: #101010;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    color: white;
}

.row button {
    min-width: 300px;
}

.row .text button {
    width: 70%;
}

.content button:hover{
    background-color: #20AD59;
}

.content .buttonBlue{
    color: white;
}
